@import "tailwindcss";

@theme {
    /* Color Variables */
    --color-white: #ffffff;
    --color-black: #000000;
    --color-orange: #f37c1c;
    --color-orange-light: #f8ebe2;
    --color-red: #d00606;
    --color-gray: #bdbdbd;
    --color-gray-light: #f3f2f2;
}